=provide(:title, "About")
%h1 About Me
%p Around one year of Ruby/Ruby on Rails Tinkering. Previous experience with HTML, CSS, Javascript, Python. Masters Degree in Chemistry with a final year project in Computational Chemistry.
%p Seeking Internship or entry-level Ruby on Rails development position. Can be found on the ground floor of the Edinburgh Techcube.

= mail_to "ddmckendrick@gmail.com", "Email", class: "btn btn-inverse"
= link_to "LinkedIn", "http://www.linkedin.com/pub/donald-mckendrick/54/65b/405", class: "btn btn-inverse"
= link_to "Twitter", "https://twitter.com/DearDonald", class: "btn btn-inverse"
= link_to "Github", "https://github.com/ddmck", class: "btn btn-inverse"