=provide(:title, "About")
%h1 About Me
%p Around one year of Ruby/Ruby on Rails Tinkering. Previous experience with HTML, CSS, Javascript, Python. Masters Degree in Chemistry with a final year project in Computational Chemistry.
%p Available for salaried or contracted Ruby on Rails development. Can be found on the ground floor of the Edinburgh Techcube.

= mail_to "contact@donrails.com", "contact@donrails.com", class: "btn btn-primary"
= link_to "LinkedIn", "http://www.linkedin.com/pub/donald-mckendrick/54/65b/405", class: "btn btn-primary"
= link_to "Twitter", "https://twitter.com/DearDonald", class: "btn btn-primary"
= link_to "Github", "https://github.com/ddmck", class: "btn btn-primary"