%footer.footer
  %nav
    %ul
      %li.pull-left= link_to "Built with Ruby on Rails, hosted by Digital Ocean", "https://www.digitalocean.com/?refcode=0e7d22b46b53"
      %li.pull-right= link_to "About", about_path
      %li.pull-right= link_to "Contact", contact_path
